<!-- Data intro (ublox, GPS/BeiDou, 20190428)
This data is starts from the seaside of hong hom to TST -->
<launch>
   <param name="roverLEOMeasureFile" type="string" value="$(find global_fusion)/dataset/2021_0521_0607/StarLink_Whampoa_0521_0401_15mask_miu30_std_5_noise.csv" />
    
    <param name="roverMeasureFile" type="string" value="$(find global_fusion)/dataset/2021_0521_0607/UrbanNav_HK_Deep_Urban_ubloxf9p.obs" />
    <param name="baseMeasureFile" type="string" value="$(find global_fusion)/dataset/2021_0521_0607/hkqt141g.21o" />
    <param name="BeiDouEmpFile" type="string" value="$(find global_fusion)/dataset/2021_0521_0607/hkqt141g.21c" />
    <param name="GPSEmpFile" type="string" value="$(find global_fusion)/dataset/2021_0521_0607/hkqt141g.21n" />

    <param name="out_folder"      type="string" value="$(find global_fusion)/dataset/2021_0521_0607/rtklibResult.pos" />

    <node name="leo_rover_raw_publisher_node" pkg="global_fusion" type="leo_rover_raw_publisher_node" output="screen"/>

    <node name="gnss_preprocessor_node" pkg="global_fusion" type="gnss_preprocessor_node" output="screen">
      <!-- GNSS positioning mode, 0: single, 1:DGPS/DGNSS, 2: kinematic -->
      <param name="mode"       type="int" value="2" />
      <!-- number of frequency (1:L1,2:L1+L2,3:L1+L2+L5) -->
 
     <param name="nf"      type="int" value="2" />
     <param name="soltype"  type="int" value="0" />
     <param name="WLS_folder" value="$(find global_fusion)/dataset/2021_0521_0607/GNSS_only_WLS_result.csv" />
     <param name="RTK_folder" value="$(find global_fusion)/dataset/2021_0521_0607/GNSS_only_RTK_result.csv" />
    </node>

    <node name="gnss_leo_msg_combination_node" pkg="global_fusion" type="gnss_leo_msg_combination_node" output="screen"/>
    
   

</launch>

<!-- open the Rviz together with the OpenStreetMap
    <node pkg="rviz" type="rviz" name="rviz" output="screen" 
      args="-d $(find global_fusion)/rviz/gnss_positioning.rviz" required="true">
    </node>
-->

    <!-- Static fake TF transform -->

<!--
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 map base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake_m2w" args="0 0 0 0 0 0 map world" />
-->

<!--
    <param name="baseLEOMeasureFile" type="string" value="$(find global_fusion)/dataset/2021_0521_0607/StarLink_HKQT_0521.csv" /> 
    <node name="leo_station_raw_publisher_node" pkg="global_fusion" type="leo_station_raw_publisher_node" output="screen"/>
-->